<div class="custom-class-i2v-donut-chart-component-0">
  <div
    class="custom-class-i2v-donut-chart-component-1"
  >
    <div
      *ngIf="!isModel"
      class="watchlist-data-container custom-class-i2v-donut-chart-component-2"
     
    >
      <div class="nowatchlistexist">
        <div
          class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
          libSvgElement
          [appSvg]="'assets/Outline/table.svg'"
          [size]="'48'"
          [fill-color]="'white'"
        ></div>
        <span class="major-heading">No Configurations found</span>
      </div>
    </div>
    <i2v-chart-header
      *ngIf="isModel"
      class="custom-class-i2v-donut-chart-component-3"
      [heading]="widgetRequestModel.heading"
      [subHeading]="widgetRequestModel.subHeading"
      [customFilters]="customFilters"
      (daysFilterOutput)="onTimeChange($event)"
      [widgetCustomFiltersValue]="widgetRequestModel.customFilters"
      (customFilterOutput)="onCustomFilterValuesChange($event)"
      (refreshIntervalFilterOutput)="onRefreshIntervalChange($event)"
      (combineFilterOutputEmittor)="onCombineFilterOutputEmittor($event)"
    >
    </i2v-chart-header>
  </div>
  <ng-container *ngIf="isModel && isLoading">
    <div
      class="custom-class-i2v-donut-chart-component-4"
    >
      <span
        class="custom-class-i2v-donut-chart-component-5"
      ></span>
    </div>
  </ng-container>
  <div
    *ngIf="isModel && !isLoading && !dataExists"
    class="watchlist-data-container custom-class-i2v-donut-chart-component-6"
   
  >
    <div class="nowatchlistexist">
      <div
        class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
        libSvgElement
        [appSvg]="'assets/Outline/table.svg'"
        [size]="'48'"
        [fill-color]="'white'"
      ></div>
      <span class="major-heading">No Data found</span>
    </div>
  </div>
  <kendo-chart
    class="custom-class-i2v-donut-chart-component-7"
    *ngIf="isModel && !isLoading && dataExists"
    [transitions]="true"
    (legendItemClick)="onLegendItemClick($event)"
  >
    <ng-template kendoChartDonutCenterTemplate>
      <div
        class="custom-class-i2v-donut-chart-component-8"
      >
        <p class="custom-class-i2v-donut-chart-component-9">
          Total no. of {{ widgetRequestModel.subHeading }}
        </p>
        <h1 class="custom-class-i2v-donut-chart-component-10">{{ totaldata }}</h1>
      </div>
    </ng-template>

    <kendo-chart-tooltip>
      <ng-template
        kendoChartSeriesTooltipTemplate
        let-value="value"
        let-category="category"
      >
        {{ value }}
      </ng-template>
    </kendo-chart-tooltip>

    <kendo-chart-series>
      <kendo-chart-series-item
        type="donut"
        categoryField="name"
        field="value"
        [holeSize]="100"
        [data]="chartData.series"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend></kendo-chart-legend>
  </kendo-chart>
</div>
