<div style="display: flex; flex-direction: column; width: 100%">
  <div
    style="
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 10px;
      width: 100%;
    "
  >
    <i2v-chart-header
      style="width: 100%"
      [heading]="widgetRequestModel.heading"
      [subHeading]="widgetRequestModel.subHeading"
      [customFilters]="customFilter" (daysFilterOutput)="onTimeChange($event)" [widgetCustomFiltersValue]="widgetRequestModel.customFilters"
      (customFilterOutput)="onCustomFilterValuesChange($event)"
    >
    </i2v-chart-header>
  </div>

  <kendo-chart [transitions]="true">
    <ng-template kendoChartDonutCenterTemplate>
      <div
        style="
          font-size: 12px;
          color: #5f6f94;
          display: flex;
          flex-direction: column;
          gap: 0px;
        "
      >
        <p style="padding: 0px; margin: 0px">Total no. of vehicles</p>
        <h1 style="padding: 0px; margin: 0px">15,67,785</h1>
      </div>
    </ng-template>

    <kendo-chart-tooltip>
      <ng-template
        kendoChartSeriesTooltipTemplate
        let-value="value"
        let-category="category"
      >
        {{ value }}
      </ng-template>
    </kendo-chart-tooltip>

    <kendo-chart-series>
      <kendo-chart-series-item
        type="donut"
        categoryField="name"
        field="data[0]"
        [holeSize]="100"
        [data]="chartData.series"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend></kendo-chart-legend>
  </kendo-chart>
</div>
