<div [ngStyle]="{
    background: isChartToBeRemoved
      ? '#ffcccc'                               
      : widgetRequestModel?.widgetInteractivityConfig?.isWidgetHidden
        ? 'rgba(0, 0, 0, 0.1)'                    
        : 'var(--Golbal-backgrounds-secondary-bg-2)'                                  
  }" class="widget-wrapper">
  <div class="widget-content">
    <div class="header-section">
      @if (!isModel) {
      <div class="data-container no-data-background">
        <div class="noConfExist">
          <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default">
            <lib-svg [path]="'assets/Outline/table.svg'" [size]="'48'" [color]="'var(--Golbal-text-text-2-light)'"></lib-svg>
          </div>
          <span class="major-heading">{{'No Configurations found' | translate}}</span>
        </div>
      </div>
      } @if (isModel) {
      <i2v-chart-header class="chart-header" [(showFilterValues)]="showFilterValues" [widgetModel]="widgetRequestModel"
        [customFilters]="customFilters" [isEditModeOn]="isEditModeOn" (daysFilterOutput)="onTimeChange($event)"
        (widgetResizeEmittor)="widgetResizeCallback($event)" (widgetRemoveEmittor)="onWidgetRemoveCallback($event)"
        (customFilterOutput)="onCustomFilterValuesChange($event)"
        (refreshIntervalFilterOutput)="onRefreshIntervalChange($event)"
        (clearCustomFiltersValues)="clearCustomFiltersValues($event)"
        (combineFilterOutputEmittor)="onCombineFilterOutputEmittor($event)" (editWidgetOutput)="onEditWidgetOutput()"
        (editWidgetOutput)="onEditWidgetOutput()" (timePeriodOutput)="onTimeDurationChanged($event)"
        [applyToAllEnabled]="applyToAllEnabled" [showEntity]="showEntity" [showTimeFilter]="showTimeFilter"
        [showRefreshInterval]="showRefreshInterval">
      </i2v-chart-header>
      }
    </div>
    @if (isModel && isLoading) {
    <div class="loading-container">
      <span class="loading-spinner"></span>
    </div>
    } @if (isModel && !isLoading && !dataExists) {
    <div class="data-container">
      <div class="noConfExist">
        <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"><lib-svg [path]="'assets/Outline/table.svg'" [size]="'48'" [color]="'var(--Golbal-text-text-2-light)'"></lib-svg></div>
        <span class="major-heading">No Data found</span>
      </div>
    </div>
    }
    @if (isModel && !isLoading && dataExists && !dataExistsForShowableProperties) {
    <div class="data-container">
      <div class="noConfExist">
        <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"><lib-svg [path]="'assets/Outline/table.svg'" [size]="'48'" [color]="'var(--Golbal-text-text-2-light)'"></lib-svg></div>
        <span class="major-heading">No Data found for showable properties</span>
      </div>
    </div>
    }
    @if (isModel && !isLoading && dataExists && dataExistsForShowableProperties) {
    <kendo-chart [chartArea]="{ background: 'transparent' }" class="chart-container" [transitions]="true"
      [ngStyle]="{ 'min-height': showFilterValues ? '400px' : '0px' }" (legendItemClick)="onLegendItemClick($event)">
      <ng-template kendoChartDonutCenterTemplate>
        <div class="donut-center">
          <p class="result-label">{{ centerLabel }}</p>
          <h3 class="result-heading">{{ centerLabelHeading }}</h3>
          <h1 class="result-data">{{ centerLabelData }}</h1>
        </div>
      </ng-template>

      <!-- <kendo-chart-tooltip>
        <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category">
          {{ value | translate }}
        </ng-template>
      </kendo-chart-tooltip> -->

      <kendo-chart-series>
        <kendo-chart-series-item type="donut" [data]="chartData.series" categoryField="name" field="data[0]"
          [autoFit]="true" [labels]="{ visible: true, content: labelContent }">
          <kendo-chart-series-item-labels [visible]="true" [font]="'12px Arial, sans-serif'">
          </kendo-chart-series-item-labels>
        </kendo-chart-series-item>
      </kendo-chart-series>
      <kendo-chart-legend position="right"></kendo-chart-legend>
    </kendo-chart>
    }
  </div>
  @if (showFilterValues && !isEditModeOn) {
  <div class="filter-details-section">
    <app-details-widget [commonWidgetCustomFilter]="widgetRequestModel.filterConfig.customFilters">
    </app-details-widget>
  </div>
  }
</div>