<h1>
    Fusion Charts
  </h1>

<h2>Drill Down 1</h2>

<fusioncharts
width="500"
height="500"
[dataSource]="drillDown1Chart"
type= 'column2d'
></fusioncharts>


<h2>Drill Down 2</h2>

<fusioncharts
width="500"
height="500"
[dataSource]="drillDown2Chart"
events='drillDown2Events'
type= 'column2d'

></fusioncharts>



  <fusioncharts
    width="700"
    height="400"
    type="Column2d"
    [dataSource]="dataSource"
    exportEnabled=1>
  </fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="line"
  [dataSource]="dataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="splinearea"
  [dataSource]="dataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="pie2d"
  [dataSource]="dataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="doughnut2d"
  [dataSource]="donutDataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="doughnut2d"
  [dataSource]="singledonutDataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="msline"
  [dataSource]="mslineDataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="stackedcolumn2d"
  [dataSource]="stackeddataSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="scrollstackedcolumn2d"
  [dataSource]="scrollStackedSource">
</fusioncharts>

  <fusioncharts
  width="700"
  height="400"
  type="scrollstackedbar2d"
  [dataSource]="scrollStackedSource">
</fusioncharts>

<fusioncharts
  width="700"
  height="400"
  type="heatmap"
  [dataSource]="heatmapSource">
</fusioncharts>

<fusioncharts
  width="700"
  height="400"
  type="world"
  [dataFormat]="'json'"
  [dataSource]="worldDataSource">
</fusioncharts>
