<div class="header-container">
  <div class="content-section">
    @if (svgIcon) {
    <div class="icon-box">
      <span libSvgElement [appSvg]="svgIcon" [size]="'20'" [fill-color]="'#5F6F94'"></span>
    </div>
    }
    <div class="text-container">
      @if (heading) {
      <span class="heading-text" [title]="heading">
        {{ heading }}
      </span>
      }
      @if (subHeading) {
      <span class="subheading-text" [title]="subHeading">({{ subHeading }})</span>
      }
    </div>
  </div>
  <ng-content></ng-content>

  @if (!widgetModel.filterConfig.isDashboardFilterApplied && !isEditModeOn) {
  <div class="filter-button-container">
    <button class="flex-row-center-center i2v-btn-icon tertiary-default filter-toggle-btn" libSvgElement
      [matTooltip]="showFilterValues ? 'Hide Filter Values' : 'Show Filter Values'"
      [appSvg]="'assets/Outline/filter.svg'" [size]="'20'" (click)="toggleShowFilterValues()">
    </button>
  </div>
  }

  <div class="menu-container">
    @if (isEditModeOn && !widgetModel.filterConfig.isDashboardFilterApplied) {
    <span class="status-indicator" libSvgElement [appSvg]="'assets/Solid/status.svg'" [size]="'8'"
      [fill-color]="'rgba(0, 153, 237, 1)'">
    </span>
    }
    @if (isEditModeOn && !applyToAllEnabled) {
    <button class="flex-row-center-center i2v-btn-icon tertiary-default" libSvgElement appSvg="assets/Outline/menu.svg"
      [size]="'20'" (click)="onContextMenuEvent($event)">
    </button>
    }
  </div>
</div>

<i2v-context-menu [open]="isContexMenuOpen" (menuClosed)="onMenuClosed()" [position]="position">
  <i2v-context-menu-item icon='assets/Outline/pencil.svg' label="Edit Widget"
    (click)="onEditWidget()"></i2v-context-menu-item>

  <i2v-context-menu-item icon='assets/Outline/filter.svg' label="Add Custom Filter"
    (click)="onMenuClick()"></i2v-context-menu-item>

  @if(!this.removeWidget){
  <i2v-context-menu-item [icon]="hideWidget ? 'assets/Outline/eye-off.svg' : 'assets/Outline/eye.svg'"
    [label]="hideWidgetMsg" (click)="toggleHideWidget()"></i2v-context-menu-item>
  }

  @if (this.widgetModel.canBeRemoved) {
  <i2v-context-menu-item [icon]="removeWidget ? 'assets/Outline/eye-off.svg' : 'assets/Outline/eye.svg'"
    [label]="removeWidgetMsg" (click)="toggleRemoveWidget()"></i2v-context-menu-item>
  }
</i2v-context-menu>