<div style="
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  ">
  <div style="
      display: flex;
      width: 40%;
      align-self: start;
      gap: 5px;
      align-items: center;
      flex: 1;
    ">
    <div *ngIf="svgIcon" class="icon-box" style="align-self: start;">
      <span libSvgElement [appSvg]="svgIcon" [size]="'20'" [fill-color]="'#5F6F94'"></span>
    </div>
    <div style="
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        min-width: 0; /* This is crucial */
        overflow: hidden; /* Ensures content doesn't overflow */
      ">
      <span style="
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 18px;
          width: 100%; /* Makes it take full width of parent */
        " [title]="heading" *ngIf="heading">
        {{ heading }}
      </span>
      <span style="
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        width: 100%; /* Makes it take full width of parent */
      " [title]="subHeading" *ngIf="subHeading">({{ subHeading }})</span>
    </div>
  </div>
  <ng-content></ng-content>

  <div *ngIf="!widgetModel.filterConfig.isDashboardFilterApplied && !isEditModeOn" style="
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
">
    <button class="flex-row-center-center i2v-btn-icon tertiary-default" style="position: relative;" libSvgElement [matTooltip]="showFilterValues ? 'Hide Filter Values' : 'Show Filter Values'"
      [appSvg]="'assets/Outline/filter.svg'" [size]="'20'"
      (click)="toggleShowFilterValues()">
    </button>
  </div>

  <div style="position: relative;">
    <span *ngIf="isEditModeOn && !widgetModel.filterConfig.isDashboardFilterApplied" style="position: absolute; right: 0px; top: -10px;" class="filterSVG" libSvgElement
      [appSvg]="'assets/Solid/status.svg'" [size]="'8'" [fill-color]="'rgba(0, 153, 237, 1)'">
    </span>
    <button *ngIf="isEditModeOn && !applyToAllEnabled" class="flex-row-center-center i2v-btn-icon tertiary-default" libSvgElement
      appSvg="assets/Outline/menu.svg" [size]="'20'"
      (click)="onContextMenuEvent($event)">
    </button>

  </div>
 
</div>

<i2v-context-menu [open]="isContexMenuOpen" (menuClosed)="onMenuClosed()" [position]="position">
  <i2v-context-menu-item icon='assets/Outline/filter.svg' label="Add Custom Filter"
    (click)="onMenuClick()"></i2v-context-menu-item>
    <i2v-context-menu-item [icon]="hideWidget ? 'assets/Outline/eye-off.svg' : 'assets/Outline/eye.svg'"
    [label]="hideWidgetMsg" (click)="toggleHideWidget()"></i2v-context-menu-item>
</i2v-context-menu>