<div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
    <div style="display: flex; justify-items: center; align-items: center; gap: 10px; width: 100%;">
        <div *ngIf = "!isModel" class="watchlist-data-container" style="overflow-x: hidden; height: 100%; flex: 1; display: flex; flex-direction: column; padding: 10px 15px; background-color: #fff;">
            <div class="nowatchlistexist">
                <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
                    libSvgElement [appSvg]="'assets/Outline/table.svg'" [size]="'48'" [fill-color]="'white'">
                </div>
                <span class="major-heading">No Configurations found</span>
            </div>
        </div>
        <i2v-chart-header *ngIf = "isModel" style="width: 100%;" [heading]="widgetRequestModel.heading" [subHeading]="widgetRequestModel.subHeading"
        [customFilters]="customFilters" (daysFilterOutput)="onTimeChange($event)" [widgetCustomFiltersValue]="widgetRequestModel.customFilters"
       (customFilterOutput)="onCustomFilterValuesChange($event)" (refreshIntervalFilterOutput)="onRefreshIntervalChange($event)"></i2v-chart-header>
    </div>
    <ng-container *ngIf="isModel && isLoading">
        <div style="display: flex; width: 360px; flex-direction: column; justify-content: center; align-items: center; gap: 20px; flex: 1; height: 100%; width: 100%;">
            <span style="width: 50px; height: 50px; background: url(assets/gifs/horizontal-loader.gif) no-repeat center; background-size: 100% 100%;"></span>
        </div>
    </ng-container>
    <div *ngIf = "isModel && !isLoading && !dataExists" class="watchlist-data-container" style="overflow-x: hidden; height: 100%; flex: 1; display: flex; flex-direction: column; padding: 10px 15px; background-color: #fff;">
        <div class="nowatchlistexist">
            <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
                libSvgElement [appSvg]="'assets/Outline/table.svg'" [size]="'48'" [fill-color]="'white'">
            </div>
            <span class="major-heading">No Data found</span>
        </div>
    </div>
    <kendo-chart style="min-height: 400px; height: 100%;" *ngIf = "isModel && !isLoading && dataExists" [pannable]="widgetRequestModel.isPannable ? { lock: 'y' } : false" [zoomable]="widgetRequestModel.isZoomable ? { mousewheel: { lock: 'y' } } : false">        <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [max]="widgetRequestModel.max" [categories]="chartData.chartCategories" [title]="{ text:  chartData.x_label }" >
                <kendo-chart-category-axis-item-labels [rotation]="'auto'">
                </kendo-chart-category-axis-item-labels>
            </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-tooltip>
            <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category">
              {{ value }}
            </ng-template>
          </kendo-chart-tooltip>
        <kendo-chart-legend
        position="top"
        orientation="horizontal"
        background="#f4f5f8"
        [spacing]="140"
        [padding]="{ left: 80, right: 80 }"
        ></kendo-chart-legend>
        <kendo-chart-series>
            <kendo-chart-series-item type="line" *ngFor="let data of chartData.series" [gap]="2" [spacing]="0.25" [data]="data.data" [name]="data.name" [color]="widgetRequestModel.color">
            </kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>

</div>
