<div class="custom-class-i2v-area-chart-component-0">
  <div
    class="custom-class-i2v-area-chart-component-1"
  >
    <div
      *ngIf="!isModel"
      class="watchlist-data-container custom-class-i2v-area-chart-component-2"
     
    >
      <div class="nowatchlistexist">
        <div
          class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
          libSvgElement
          [appSvg]="'assets/Outline/table.svg'"
          [size]="'48'"
          [fill-color]="'white'"
        ></div>
        <span class="major-heading">No Configurations found</span>
      </div>
    </div>
    <i2v-chart-header
      *ngIf="isModel"
      class="custom-class-i2v-area-chart-component-3"
      [heading]="widgetRequestModel.heading"
      [subHeading]="widgetRequestModel.subHeading"
      [customFilters]="customFilters"
      (daysFilterOutput)="onTimeChange($event)"
      [widgetCustomFiltersValue]="widgetRequestModel.customFilters"
      (customFilterOutput)="onCustomFilterValuesChange($event)"
      (refreshIntervalFilterOutput)="onRefreshIntervalChange($event)"
      (combineFilterOutputEmittor)="onCombineFilterOutputEmittor($event)"
    ></i2v-chart-header>
  </div>
  <ng-container *ngIf="isModel && isLoading">
    <div
      class="custom-class-i2v-area-chart-component-4"
    >
      <span
        class="custom-class-i2v-area-chart-component-5"
      ></span>
    </div>
  </ng-container>
  <div
    *ngIf="isModel && !isLoading && !dataExists"
    class="watchlist-data-container custom-class-i2v-area-chart-component-6"
   
  >
    <div class="nowatchlistexist">
      <div
        class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
        libSvgElement
        [appSvg]="'assets/Outline/table.svg'"
        [size]="'48'"
        [fill-color]="'white'"
      ></div>
      <span class="major-heading">No Data found</span>
    </div>
  </div>
  <kendo-chart
    class="custom-class-i2v-area-chart-component-7"
    *ngIf="isModel && !isLoading && dataExists"
    [pannable]="widgetRequestModel.isPannable ? { lock: 'y' } : false"
    [zoomable]="
      widgetRequestModel.isZoomable ? { mousewheel: { lock: 'y' } } : false
    "
  >
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [max]="widgetRequestModel.max"
        [categories]="chartData.chartCategories"
        [title]="{ text: chartData.x_label }"
      >
        <kendo-chart-category-axis-item-labels [rotation]="'auto'">
        </kendo-chart-category-axis-item-labels>
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-tooltip>
      <ng-template
        kendoChartSeriesTooltipTemplate
        let-value="value"
        let-category="category"
      >
        {{ value }}
      </ng-template>
    </kendo-chart-tooltip>
    <kendo-chart-legend
      position="bottom"
      orientation="horizontal"
      [spacing]="140"
      [padding]="{ left: 80, right: 80 }"
    ></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="area"
        *ngFor="let data of chartData.series"
        [data]="data.data"
        [name]="data.name"
        [color]="widgetRequestModel.color"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
