<div style="display: flex; flex-direction: column; width: 100%;">
    <div style="display: flex; justify-items: center; align-items: center; gap: 10px; width: 100%;">
        <i2v-chart-header style="width: 100%;" [heading]="widgetRequestModel.heading" [subHeading]="widgetRequestModel.subHeading"
            [customFilters]="widgetRequestModel.customFilters" (daysFilterOutput)="onTimeChange($event)"
            (customFilterOutput)="onCustomFilterValuesChange($event)">
        </i2v-chart-header>
    </div>

    <kendo-chart [pannable]="widgetRequestModel.isPannable ? { lock: 'y' } : false" [zoomable]="widgetRequestModel.isZoomable ? { mousewheel: { lock: 'y' } } : false">        <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [max]="widgetRequestModel.max" [categories]="chartData.chartCategories" [title]="{ text:  chartData.x_label }" >
                <kendo-chart-category-axis-item-labels [rotation]="'auto'">
                </kendo-chart-category-axis-item-labels>
            </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-tooltip>
            <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category">
              {{ value }}
            </ng-template>
          </kendo-chart-tooltip>
        <kendo-chart-legend
      style="display: none;"
        position="top"
        orientation="horizontal"
        [spacing]="140"
        [padding]="{ left: 80, right: 80 }"
        ></kendo-chart-legend>
        <kendo-chart-series>
            <kendo-chart-series-item type="column" *ngFor="let data of chartData.series" [gap]="2" [spacing]="0.25" [data]="data.data"
            [name]="data.name">
            </kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>
</div>
