<div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
    <div style="display: flex; justify-items: center; align-items: center; gap: 10px; width: 100%;">
      <div *ngIf = "!isModel" class="watchlist-data-container" style="overflow-x: hidden; height: 100%; flex: 1; display: flex; flex-direction: column; padding: 10px 15px; background-color: #fff;">
        <div class="nowatchlistexist">
            <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
                libSvgElement [appSvg]="'assets/Outline/table.svg'" [size]="'48'" [fill-color]="'white'">
            </div>
            <span class="major-heading">No Configurations found</span>
        </div>
    </div>
    <i2v-chart-header *ngIf="isModel" style="width: 100%;" [heading]="widgetRequestModel.heading" [subHeading]="widgetRequestModel.subHeading"
      [customFilters]="customFilter" (daysFilterOutput)="onTimeChange($event)" [widgetCustomFiltersValue]="widgetRequestModel.customFilters"
      (customFilterOutput)="onCustomFilterValuesChange($event)"></i2v-chart-header>
    </div>

    <ng-container *ngIf="isModel && isLoading">
      <div style="display: flex; width: 360px; flex-direction: column; justify-content: center; align-items: center; gap: 20px; flex: 1; height: 100%; width: 100%;">
          <span style="width: 150px; height: 150px; background: url(assets/gifs/enrollment-progress.gif) no-repeat center;"></span>
      </div>
    </ng-container>
    <div *ngIf = "isModel && !isLoading && !dataExists" class="watchlist-data-container" style="overflow-x: hidden; height: 100%; flex: 1; display: flex; flex-direction: column; padding: 10px 15px; background-color: #fff;">
        <div class="nowatchlistexist">
            <div class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
                libSvgElement [appSvg]="'assets/Outline/table.svg'" [size]="'48'" [fill-color]="'white'">
            </div>
            <span class="major-heading">No Data found</span>
        </div>
    </div>
    <kendo-chart style="min-height: 400px; height: 100%;" *ngIf = "isModel && !isLoading && dataExists" title="Pie Chart">
        <kendo-chart-legend position="bottom"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="pie" [data]="chartData.series" field="value" categoryField="category"
            [labels]="{ visible: true, content: labelContent }">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
</div>
