<div style="display: flex; flex-direction: column; width: 100%;">
    <div style="display: flex; justify-items: center; align-items: center; gap: 10px; width: 100%;">
        <i2v-chart-header style="width: 100%;" [heading]="heading" [subHeading]="subHeading"
            [customFilters]="customFilters" (daysFilterOutput)="onTimeChange($event)"
            (customFilterOutput)="onCustomFilterValuesChange($event)">
        </i2v-chart-header>
    </div>

    <kendo-chart title="Pie Chart">
        <kendo-chart-legend position="bottom"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="pie" [data]="chartData.series" field="value" categoryField="category"
            [labels]="{ visible: true, content: labelContent }">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
</div>
