<div
  [ngStyle]="{
    background: widgetRequestModel?.widgetInteractivityConfig.isWidgetHidden
      ? 'rgba(0, 0, 0, 0.1)'
      : '#fff'
  }"
  class="widget-wrapper"
>
  <div class="widget-content">
    <div class="header-section">
      @if (!isModel) {
      <div class="data-container no-data-background">
        <div class="noConfExist">
          <div
            class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
            libSvgElement
            [appSvg]="'assets/Outline/table.svg'"
            [size]="'48'"
            [fill-color]="'white'"
          ></div>
          <span class="major-heading">No Configurations found</span>
        </div>
      </div>
      } @if (isModel) {
      <i2v-chart-header
        class="chart-header"
        [(showFilterValues)]="showFilterValues"
        (widgetResizeEmittor)="widgetResizeCallback($event)"
        [widgetModel]="widgetRequestModel"
        [customFilters]="customFilters"
        [isEditModeOn]="isEditModeOn"
        (daysFilterOutput)="onTimeChange($event)"
        (customFilterOutput)="onCustomFilterValuesChange($event)"
        (refreshIntervalFilterOutput)="onRefreshIntervalChange($event)"
        (clearCustomFiltersValues)="clearCustomFiltersValues($event)"
        (combineFilterOutputEmittor)="onCombineFilterOutputEmittor($event)"
        (editWidgetOutput)="onEditWidgetOutput()"
        (timePeriodOutput)="onTimeDurationChanged($event)"
        [applyToAllEnabled]="applyToAllEnabled"
        [showEntity]="showEntity"
        [showTimeFilter]="showTimeFilter"
        [showRefreshInterval]="showRefreshInterval"
      >
      </i2v-chart-header>
      }
    </div>
    @if (isModel && isLoading) {
    <div class="loading-container">
      <span class="loading-spinner"></span>
    </div>
    } @if (isModel && !isLoading && !dataExists) {
    <div class="data-container">
      <div class="noConfExist">
        <div
          class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
          libSvgElement
          [appSvg]="'assets/Outline/table.svg'"
          [size]="'48'"
          [fill-color]="'white'"
        ></div>
        <span class="major-heading">No Data found</span>
      </div>
    </div>
    } @if (isModel && !isLoading && dataExists &&
    !dataExistsForShowableProperties) {
    <div class="data-container">
      <div class="noConfExist">
        <div
          class="logo-container large flex-row-center-center i2v-btn-icon tertiary-default"
          libSvgElement
          [appSvg]="'assets/Outline/table.svg'"
          [size]="'48'"
          [fill-color]="'white'"
        ></div>
        <span class="major-heading">No Data found for showable properties</span>
      </div>
    </div>
    } @if (isModel && !isLoading && dataExists &&
    dataExistsForShowableProperties) {
    <div class="top">
      @if(this.widgetRequestModel.kpiConf?.showAggregation) {
      <div class="data-box center-box">
        <div class="aggregated-data-box">
          @if (svgIcon) {
          <div class="icon-box">
            <div
              libSvgElement
              [appSvg]="svgIcon"
              [size]="'20'"
              [fill-color]="'#5F6F94'"
            ></div>
          </div>
          }

          <div class="content-section">
            <div class="number-grp">
              <div class="minorheader" style="font-style: italic">
                {{ this.aggregatedDataLabel | uppercase }}
              </div>

              <div class="digits">{{ aggregatedData }}</div>
            </div>

            <!-- <div *ngIf="widgetRequestModel.findResultSvgIcon" libSvgElement [appSvg]="ResSvgIcon"
              [fill-color]="ResSvgIconColor" [size]="'60'"></div> -->
          </div>
        </div>
      </div>
      }
      <div class="data-box overflow-data-box">
        @if (svgIcon) {
        <div class="icon-box">
          <div
            libSvgElement
            [appSvg]="svgIcon"
            [size]="'20'"
            [fill-color]="'#5F6F94'"
          ></div>
        </div>
        }

        <div class="content-section">
          @if(chartData.xAxisFields.length> 0) { @for (series of
          chartData.series; track seriesTrackBy) { @for (xAxisField of
          chartData.xAxisFields; track xAxisTrackBy) {

          <div class="number-grp">
            <div class="minorheader" style="font-style: italic">
              {{ xAxisField | uppercase }}
            </div>

            <div class="digits">
              {{ series.data[chartData.xAxisFields.indexOf(xAxisField)] }}
            </div>
          </div>
          } } } @else{ @for (series of chartData.series; track seriesTrackBy) {
          <div class="number-grp">
            @if (!widgetRequestModel.kpiConf?.hideLabel) {
            <div class="minorheader" style="font-style: italic">
              {{ series.displayName | uppercase }}
            </div>
            }
            <div class="digits">{{ series.data[0] }}</div>
          </div>
          } }

          <!-- <div *ngIf="widgetRequestModel.findResultSvgIcon" libSvgElement [appSvg]="ResSvgIcon"
              [fill-color]="ResSvgIconColor" [size]="'60'"></div> -->
        </div>
      </div>

      @if (showChart && chartData && chartData.series) {
      <kendo-sparkline
        class="sparkline"
        [data]="chartData.series[0].data"
        [type]="'line'"
        [tooltip]="{ visible: false }"
        [seriesDefaults]="{
              line: {
                color: 'green',
                width: 2,
                style: 'smooth',
              },
            }"
      >
      </kendo-sparkline>
      }
    </div>
    }
    <!-- <div *ngIf="
        isModel &&
        !isLoading &&
        dataExists &&
        widgetRequestModel.clubbingTime &&
        (widgetRequestModel.groupBy1?.isTime ||
          widgetRequestModel.groupBy2?.isTime)
      " class="bottom">
      {{ percentValue | number: ".1-2" }}%
      {{ percentValue == 0 ? "rise" : "" }}
      <svg *ngIf="percentValue > 0 || percentValue < 0" width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path *ngIf="percentValue > 0" fill-rule="evenodd" clip-rule="evenodd"
          d="M12 7C11.4477 7 11 6.55228 11 6C11 5.44772 11.4477 5 12 5H17C17.5523 5 18 5.44772 18 6V11C18 11.5523 17.5523 12 17 12C16.4477 12 16 11.5523 16 11V8.41421L11.7071 12.7071C11.3166 13.0976 10.6834 13.0976 10.2929 12.7071L8 10.4142L3.70711 14.7071C3.31658 15.0976 2.68342 15.0976 2.29289 14.7071C1.90237 14.3166 1.90237 13.6834 2.29289 13.2929L7.29289 8.29289C7.68342 7.90237 8.31658 7.90237 8.70711 8.29289L11 10.5858L14.5858 7H12Z"
          fill="green" />
        <path *ngIf="percentValue < 0" fill-rule="evenodd" clip-rule="evenodd"
          d="M12 7C11.4477 7 11 6.55228 11 6C11 5.44772 11.4477 5 12 5H17C17.5523 5 18 5.44772 18 6V11C18 11.5523 17.5523 12 17 12C16.4477 12 16 11.5523 16 11V8.41421L11.7071 12.7071C11.3166 13.0976 10.6834 13.0976 10.2929 12.7071L8 10.4142L3.70711 14.7071C3.31658 15.0976 2.68342 15.0976 2.29289 14.7071C1.90237 14.3166 1.90237 13.6834 2.29289 13.2929L7.29289 8.29289C7.68342 7.90237 8.31658 7.90237 8.70711 8.29289L11 10.5858L14.5858 7H12Z"
          fill="green" />
        <path *ngIf="percentValue < 0" fill-rule="evenodd" clip-rule="evenodd"
          d="M12 7C11.4477 7 11 6.55228 11 6C11 5.44772 11.4477 5 12 5H17C17.5523 5 18 5.44772 18 6V11C18 11.5523 17.5523 12 17 12C16.4477 12 16 11.5523 16 11V8.41421L11.7071 12.7071C11.3166 13.0976 10.6834 13.0976 10.2929 12.7071L8 10.4142L3.70711 14.7071C3.31658 15.0976 2.68342 15.0976 2.29289 14.7071C1.90237 14.3166 1.90237 13.6834 2.29289 13.2929L7.29289 8.29289C7.68342 7.90237 8.31658 7.90237 8.70711 8.29289L11 10.5858L14.5858 7H12Z"
          fill="red" />
      </svg>
      in last
      {{
      widgetRequestModel.groupBy1?.isTime
      ? widgetRequestModel.groupBy1.mainColumn
      : widgetRequestModel.groupBy2.mainColumn
      }}
    </div> -->
  </div>
  @if (showFilterValues) {
  <div class="filter-details-section">
    <app-details-widget
      [commonWidgetCustomFilter]="widgetRequestModel.filterConfig.customFilters"
    >
    </app-details-widget>
  </div>
  }
</div>
