Kendo Grid

<div class="example-config">
  <button kendoButton (click)="pdf.saveAs('invoice.pdf')">
    Save As PDF...
  </button>
</div >
<kendo-pdf-export #pdf [keepTogether]="keepTogether" paperSize="A4" margin="2cm" style="width: 248px;height: 350px;">

<div >

  <!-- bar Chart  -->
  <kendo-chart  [transitions]="false">
    <kendo-chart-series>
      <kendo-chart-series-item [spacing]="0.25" [data]="barandLineData">
      </kendo-chart-series-item>
      </kendo-chart-series>
  </kendo-chart>

  <!-- Pie Chart -->
  <kendo-chart title="Pie Chart">
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="newpieData"
        field="value"
        categoryField="category"
        [labels]="{ visible: true, content: labelContent }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Line Chart -->
  <kendo-chart>
    <kendo-chart-title text="Line Chart"></kendo-chart-title>
    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="line" [data]="barandLineData"
        >
        </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Heat Map -->
  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Heat Map" [margin]="{ left: 40 }"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="true"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>
<!--kpi chart-->


  <app-kpi-chart></app-kpi-chart>
   <!-- bar Chart  -->
   <kendo-chart  [transitions]="false">
    <kendo-chart-series>
      <kendo-chart-series-item [spacing]="0.25" [data]="barandLineData">
      </kendo-chart-series-item>
      </kendo-chart-series>
  </kendo-chart>

  <!-- Pie Chart -->
  <kendo-chart title="Pie Chart">
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="newpieData"
        field="value"
        categoryField="category"
        [labels]="{ visible: true, content: labelContent }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Line Chart -->
  <kendo-chart>
    <kendo-chart-title text="Line Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="line" [data]="barandLineData"
        >
        </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Heat Map -->
  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Heat Map" [margin]="{ left: 40 }"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>


   <!-- bar Chart  -->
   <kendo-chart  [transitions]="false">
    <kendo-chart-series>
      <kendo-chart-series-item type="column" [spacing]="0.25" [data]="barandLineData">
      </kendo-chart-series-item>
      </kendo-chart-series>
  </kendo-chart>

  <!-- Pie Chart -->
  <kendo-chart title="Pie Chart">
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="newpieData"
        field="value"
        categoryField="category"
        [labels]="{ visible: true, content: labelContent }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Line Chart -->
  <kendo-chart>
    <kendo-chart-title text="Line Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="line" [data]="barandLineData" [labels]="{ visible: true }"
        >
        </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Heat Map -->
  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Heat Map" [margin]="{ left: 40 }"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>

  <!-- bar Chart  -->
  <kendo-chart>
    <kendo-chart-title text="Bar Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories" [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item [data]="barandLineData"> </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Pie Chart -->
  <kendo-chart title="Pie Chart">
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="newpieData"
        field="value"
        categoryField="category"
        [labels]="{ visible: true, content: labelContent }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Line Chart -->
  <kendo-chart>
    <kendo-chart-title text="Line Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="line" [data]="barandLineData"
        >
        </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Heat Map -->
  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Heat Map" [margin]="{ left: 40 }"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>

  <!-- bar Chart  -->
  <kendo-chart>
    <kendo-chart-title text="Bar Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories" [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="bar"  [gap]="2" [spacing]="0.25" [data]="barandLineData">
      </kendo-chart-series-item>
      </kendo-chart-series>
  </kendo-chart>

  <!-- Pie Chart -->
  <kendo-chart title="Pie Chart">
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="newpieData"
        field="value"
        categoryField="category"
        [labels]="{ visible: true, content: labelContent }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Line Chart -->
  <kendo-chart>
    <kendo-chart-title text="Line Chart"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="barandLineCategories"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="line" [data]="barandLineData"
        >
        </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <!-- Heat Map -->
  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Heat Map" [margin]="{ left: 40 }"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>
 


  <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection" [pageSize]="20"
    [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="1000"
    [columnMenu]="{ filter: true }">
    <ng-template kendoGridToolbarTemplate>
      <kendo-textbox [style.width.px]="165" placeholder="Search in all columns..."
        (valueChange)="onFilter($event)"></kendo-textbox>
      <kendo-grid-spacer></kendo-grid-spacer>
      <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
        Export to Excel
      </button>
      <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
    </ng-template>
    <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
      [resizable]="false" [columnMenu]="false" [showSelectAll]="true"></kendo-grid-checkbox-column>
    <kendo-grid-column-group title="Employee" [columnMenu]="false">
      <kendo-grid-column field="full_name" title="Contact Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-photo" [ngStyle]="{ 'background-image': photoURL(dataItem) }"></div>
          <div class="customer-name">{{ dataItem.full_name }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="job_title" title="Job Title" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="country" title="Country" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <img class="flag" [src]="flagURL(dataItem)" [width]="30" />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="is_online" title="Status" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-badge-container style="display: inline;">
            <kendo-badge size="large" [themeColor]="dataItem.is_online ? 'success' : 'error'">
              {{ dataItem.is_online ? "Online" : "Offline" }}
            </kendo-badge>
          </kendo-badge-container>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Performance" [columnMenu]="false">
      <kendo-grid-column field="rating" title="Rating" [width]="110" [resizable]="false" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-rating [value]="dataItem.rating" [max]="5"></kendo-rating>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="target" title="Engagement" [width]="230" [resizable]="false" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-sparkline type="bar" [data]="dataItem.target" [tooltip]="{ visible: false }" 
            [seriesDefaults]="{
          labels: { background: 'none', visible: true, format: '{0}%' }
        }">
            <kendo-chart-area [opacity]="0" [width]="200"></kendo-chart-area>
            <kendo-chart-value-axis>
              <kendo-chart-value-axis-item [min]="0" [max]="130">
              </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>
          </kendo-sparkline>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="budget" title="Budget" [width]="100" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span [ngClass]="{ 'red text-bold': dataItem.budget < 0 }">{{
            dataItem.budget | currency
            }}</span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Contacts" [columnMenu]="false">
      <kendo-grid-column field="phone" title="Phone" [width]="130">
      </kendo-grid-column>
      <kendo-grid-column field="address" title="Address" [width]="200">
      </kendo-grid-column>
    </kendo-grid-column-group>

    <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
  </kendo-grid>

</div>
</kendo-pdf-export>