Kendo Grid

<div class="example-config">
  <button kendoButton (click)="pdf.saveAs('invoice.pdf')">
    Save As PDF...
  </button>
</div>
<kendo-pdf-export #pdf forcePageBreak=".page-break" paperSize="A4" margin="2cm" scale="0.8" style="width: 100%;height: 100%;">


  <kendo-chart>
    <kendo-chart-title text="Units sold"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="['Q1', 'Q2', 'Q3', 'Q4']">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="bar" [gap]="2" [spacing]="0.25" [data]="[100, 123, 234, 343]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[120, 67, 231, 196]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[45, 124, 189, 143]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[87, 154, 210, 215]">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <kendo-chart [transitions]="true">
    <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item type="pie"
        [data]='[{ category: "0-14", value: 0.2545 }, { category: "15-24", value: 0.1552 },     { category: "25-54", value: 0.4059 }, { category: "55-64", value: 0.0911 }, { category: "65+", value: 0.0933 } ]'
        [autoFit]="true" field="value" color="blue" categoryField="category" [aggregate]="'sum'">
        <kendo-chart-series-item-labels [align]="'circle'" color="#000" [content]="['Q1', 'Q2', 'Q3', 'Q4']">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
  </kendo-chart>

  <kendo-chart>
    <kendo-chart-title text="Units sold"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Contributions per day" [margin]="{ left: 40 }"></kendo-chart-title>

    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>

  <kendo-chart>
    <kendo-chart-title text="Units sold"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="['Q1', 'Q2', 'Q3', 'Q4']">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="bar" [gap]="2" [spacing]="0.25" [data]="[100, 123, 234, 343]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[120, 67, 231, 196]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[45, 124, 189, 143]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="bar" [data]="[87, 154, 210, 215]">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <kendo-chart [transitions]="true">
    <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item type="pie"
        [data]='[{ category: "0-14", value: 0.2545 }, { category: "15-24", value: 0.1552 },     { category: "25-54", value: 0.4059 }, { category: "55-64", value: 0.0911 }, { category: "65+", value: 0.0933 } ]'
        [autoFit]="true" field="value" color="blue" categoryField="category" [aggregate]="'sum'">
        <kendo-chart-series-item-labels [align]="'circle'" color="#000" [content]="['Q1', 'Q2', 'Q3', 'Q4']">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
  </kendo-chart>

  <kendo-chart>
    <kendo-chart-title text="Units sold"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

  <kendo-chart style="width: 400px; height: 220px;">
    <kendo-chart-title text="Contributions per day" [margin]="{ left: 40 }"></kendo-chart-title>

    <kendo-chart-series>
      <kendo-chart-series-item type="heatmap" color="#216e39" [data]="commitData" [labels]="{ visible: false }"
        [markers]="{ type: 'roundedRect', border: { width: 2 } }">
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: false }" [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis>
  </kendo-chart>


  <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection" [pageSize]="20"
    [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="500"
    [columnMenu]="{ filter: true }">
    <ng-template kendoGridToolbarTemplate>
      <kendo-textbox [style.width.px]="165" placeholder="Search in all columns..."
        (valueChange)="onFilter($event)"></kendo-textbox>
      <kendo-grid-spacer></kendo-grid-spacer>
      <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
        Export to Excel
      </button>
      <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
    </ng-template>
    <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
      [resizable]="false" [columnMenu]="false" [showSelectAll]="true"></kendo-grid-checkbox-column>
    <kendo-grid-column-group title="Employee" [columnMenu]="false">
      <kendo-grid-column field="full_name" title="Contact Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-photo" [ngStyle]="{ 'background-image': photoURL(dataItem) }"></div>
          <div class="customer-name">{{ dataItem.full_name }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="job_title" title="Job Title" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="country" title="Country" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <img class="flag" [src]="flagURL(dataItem)" [width]="30" />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="is_online" title="Status" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-badge-container style="display: inline;">
            <kendo-badge size="large" [themeColor]="dataItem.is_online ? 'success' : 'error'">
              {{ dataItem.is_online ? "Online" : "Offline" }}
            </kendo-badge>
          </kendo-badge-container>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Performance" [columnMenu]="false">
      <kendo-grid-column field="rating" title="Rating" [width]="110" [resizable]="false" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-rating [value]="dataItem.rating" [max]="5"></kendo-rating>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="target" title="Engagement" [width]="230" [resizable]="false" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-sparkline type="bar" [data]="dataItem.target" [tooltip]="{ visible: false }" [transitions]="true"
            [seriesDefaults]="{
          labels: { background: 'none', visible: true, format: '{0}%' }
        }">
            <kendo-chart-area [opacity]="0" [width]="200"></kendo-chart-area>
            <kendo-chart-value-axis>
              <kendo-chart-value-axis-item [min]="0" [max]="130">
              </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>
          </kendo-sparkline>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="budget" title="Budget" [width]="100" filter="numeric">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span [ngClass]="{ 'red text-bold': dataItem.budget < 0 }">{{
            dataItem.budget | currency
            }}</span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Contacts" [columnMenu]="false">
      <kendo-grid-column field="phone" title="Phone" [width]="130">
      </kendo-grid-column>
      <kendo-grid-column field="address" title="Address" [width]="200">
      </kendo-grid-column>
    </kendo-grid-column-group>

    <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
  </kendo-grid>
</kendo-pdf-export>