
<div style="display: flex; flex-direction: column; width: 100%;">
  <div style="display: flex; justify-items: center; align-items: center; gap: 10px; width: 100%;">
      <i2v-chart-header style="width: 100%;" [heading]="heading" [subHeading]="subHeading"
          [customFilters]="customFilters" (daysFilterOutput)="onTimeChange($event)"
          (customFilterOutput)="onCustomFilterValuesChange($event)">
      </i2v-chart-header>
  </div>
  <kendo-chart style="width: 100%">
    <!-- <kendo-chart-x-axis>
      <kendo-chart-x-axis-item [visible]="true" > </kendo-chart-x-axis-item>
    </kendo-chart-x-axis>

    <kendo-chart-y-axis>
      <kendo-chart-y-axis-item [reverse]="true" [line]="{ visible: true }"
        [labels]="{ content: yAxisLabelContent }">
      </kendo-chart-y-axis-item>
    </kendo-chart-y-axis> -->
    <kendo-chart-series>
      <kendo-chart-series-item
        type="heatmap" [color]="color"
        [data]="chartData"
        xField="xAxis"
        yField="yAxis"
        valueField="value" [labels]="{ visible: true }"
        [markers]="{ type: 'rect', border: { width: 2 } }"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>

</div>
