:host {
    ::ng-deep .p-dropdown {
      font-size: 13px;
      font-weight: 400;
      .p-dropdown-label {
        font-size: 13px;
        font-weight: 400;
      }
      .p-dropdown-item {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  :host {
    ::ng-deep .p-calendar {
      font-size: 13px;
      font-weight: 400;
      .p-inputtext {
        font-size: 13px;
        font-weight: 400;
        width: 240px;
      }
      .datepicker {
        font-size: 13px;
        font-weight: 400;
        margin-right: 20%;
      }
      .p-datepicker-calendar {
        font-size: 13px;
        font-weight: 400;
        width: 25%;
        padding: 0px;
        gap: 0px;
        height: 25%;
        z-index: 1200;
        overflow: visible;
      }
      .p-datepicker-monthpicker {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

.filter-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

:host ::ng-deep {
  .p-dropdown, .p-multiselect, .p-calendar {
    min-width: 200px;
    max-width: 200px;
    font-size: 13px;
    font-weight: 400;
  }

  .p-calendar .p-inputtext {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
  }

  .p-datepicker {
    z-index: 1200;
  }
}