:host {
    ::ng-deep .p-dropdown {
      font-size: 13px;
      font-weight: 400;
      .p-dropdown-label {
        font-size: 13px;
        font-weight: 400;
      }
      .p-dropdown-item {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  :host {
    ::ng-deep .p-calendar {
      font-size: 13px;
      font-weight: 400;
      .p-inputtext {
        font-size: 13px;
        font-weight: 400;
        width: 240px;
      }
      .datepicker {
        font-size: 13px;
        font-weight: 400;
        margin-right: 20%;
      }
      .p-datepicker-calendar {
        font-size: 13px;
        font-weight: 400;
        width: 25%;
        padding: 0px;
        gap: 0px;
        height: 25%;
        z-index: 1200;
        overflow: visible;
      }
      .p-datepicker-monthpicker {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

.filter-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

:host ::ng-deep {
  .p-dropdown, .p-multiselect, .p-calendar {
    min-width: 200px;
    max-width: 200px;
    font-size: 13px;
    font-weight: 400;
  }

  .p-calendar .p-inputtext {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
  }

  .p-datepicker {
    z-index: 1200;
  }
}

::ng-deep .p-dropdown-items-wrapper{
  background-color: var(--custom-default-background-color) !important;
  border: 1px solid var(--input-border-default) !important;
  p-dropdown-items{
    background-color: var(--custom-default-background-color) !important;
    color: var(--List-list-text-default) !important;
    .p-ripple .p-element {
      color: var(--List-list-text-default) !important;
    }
  }
  .p-ripple.p-element.p-dropdown-item.p-focus{
    background-color: var(--List-list-bg-subChild) !important;
    color: var(--List-list-text-default) !important;
  }
  .p-ripple.p-element.p-dropdown-item{
    color: var(--List-list-text-default) !important;
  }
  .p-ripple.p-element.p-dropdown-item:hover{
    color: var(--List-list-text-default) !important;
    background-color: var(--dropdown-hover-color) !important;
  }
  
}
::ng-deep .p-dropdown .p-dropdown-trigger-icon {
  color: var(--tertiary-default-text-color) !important; 
}
::ng-deep .p-multiselect .p-multiselect-trigger-icon {
  color: var(--tertiary-default-text-color) !important; 
}
::ng-deep .p-dropdown .p-dropdown-label {
  color: var(--List-list-text-default);
}


::ng-deep .p-multiselect-panel {
  background-color: var(--custom-default-background-color) !important;
  color: var(--List-list-text-default) !important;

  .p-multiselect-header,
  .p-multiselect-filter-container,
  .p-multiselect-filter.p-inputtext.p-component {
    background-color: var(--custom-default-background-color) !important;
    border-bottom: 1px solid var(--Golbal-others-border) !important;
    color: var(--List-list-text-default) !important;
  }

  .p-multiselect-items-wrapper {
    background-color: var(--custom-default-background-color) !important;

    .p-multiselect-items {
      padding: 0 !important;

      .p-multiselect-item {
        color: var(--List-list-text-default) !important;

        &:hover {
          background-color: var(--dropdown-hover-color) !important;
          color: var(--List-list-text-default) !important;
        }

        &.p-highlight {
          background-color: var(--List-list-bg-subChild) !important;
          color: var(--List-list-text-default) !important;
        }
      }
    }
  }

  .p-checkbox-box {
    background-color: var(--custom-default-background-color) !important;

    &.p-highlight {
      background-color: var(--CheckRadioBox-check-primary) !important;
    }
  }

  .p-ripple.p-element.p-multiselect-item.p-focus {
    background-color: var(--List-list-bg-subChild) !important;
    color: var(--List-list-text-default) !important;
  }

  .p-multiselect-empty-message {
    color: var(--List-list-text-default) !important;
  }

  .p-multiselect-trigger {
    height: 100% !important;
  }
}
