<!-- details-widget.component.html -->
<div class="widget-container">
  @if (!commonWidgetCustomFilter) {
    <div class="loading-container">
      <span class="loading-spinner"></span>
    </div>
  }
  @if (commonWidgetCustomFilter) {
    <div class="details-widget">
      @if (commonWidgetCustomFilter['Time']) {
        <div class="detail-row">
          <label class="detail-label">Start Time:</label>
          <span class="detail-value time-value">{{commonWidgetCustomFilter['Time'][0]?.returnValue?.startTime | formatTime:
            'h:mm a'}}</span>
        </div>
      }

      @if (commonWidgetCustomFilter['Time']) {
        <div class="detail-row">
          <label class="detail-label">End Time:</label>
          <span class="detail-value time-value">{{commonWidgetCustomFilter['Time'][0]?.returnValue?.endTime | formatTime:
            'h:mm a'}}</span>
        </div>
      }

      @if (commonWidgetCustomFilter['RefreshInterval']) {
        <div class="detail-row">
          <label class="detail-label">Refresh Interval Time:</label>
          <span class="detail-value time-value">{{commonWidgetCustomFilter['RefreshInterval'][0]?.returnValue}} secs</span>
        </div>
      }

      @if (commonWidgetCustomFilter['Video Sources']) {
        <div class="detail-row">
          <!-- <label class="detail-label">Video Sources:</label>
          <div class="source-container">
            @for (source of commonWidgetCustomFilter['Video Sources'] | showVideoSourceName; track $index; let last = $last; let i = $index) {
              <span class="detail-value source-value">
                {{source}}{{!last ? ', ' : ''}}
              </span>
            }
          </div> -->
          <span class="detail-label">{{resourceLength}} Video Sources Attached</span>
        </div>
      }
    </div>
  }
</div>